{% extends "base.html" %}

{% block title %}Edit {{ musician.first_name }} {{ musician.last_name }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Edit Musician</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Save</button>
        <!-- <a href="{% url 'musician_detail' musician.id %}" class="btn btn-secondary">Cancel</a> -->
    </form>
</div>
{% endblock %}
