{% extends "base.html" %} {% load static %} {%block content %}

<img src="{% static 'img/logo.png' %}" style="width: 60px;" alt="Logo Image" />
<h1>Welcome to My Website</h1>

<ul>
  <li>
    <a href="{% url 'news' %}"> News </a>
  </li>
  <li>
    <a href="{% url 'musician_list' %}"> Musicians </a>
  </li>
  <li>
    <a href="{% url 'band_list' %}"> Bands </a>
  </li>
  <li>
    <a href="{% url 'list_ads' %}"> Ads list</a>
  </li>
  <li>
    <a href="{% url 'seeking_ad' %}"> New ad </a>
  </li>
</ul>
{% endblock content %}
