{% extends "base.html" %} 
{% block title %}Ads List{% endblock %} 

{% block content %} 
  {% if request.user.is_authenticated  %}
    <a href="{% url 'seeking_ad' %}">Create a new ad</a>
  {% endif %}

  <h1>Musicians seeking bands</h1>
  {% if seeking_bands %}
    {% for ad in seeking_bands %}
      <p>
        {{ ad.date|default:"N/A" }} &mdash; 
        {{ ad.musician.first_name|default:"Unknown" }} 
        {{ ad.musician.last_name|default:"" }}: {{ ad.content|default:"" }}
     {% if ad.owner == request.user %}
        <a href="{% url 'edit_seeking_ad' ad.id %}">Edit</a>
      {% endif %}
      </p>
    {% endfor %} 
  {% else %}
    <p>No musicians seeking bands at the moment.</p>
  {% endif %}

  <h1>Bands seeking musicians</h1>
  {% if seeking_musician %}
    {% for ad in seeking_musician %}
      <p>
        {{ ad.date|default:"N/A" }} &mdash; 
        {{ ad.band.name|default:"Unknown" }} : {{ ad.content|default:"" }}
       {% if ad.owner == request.user %}
        <a href="{% url 'edit_seeking_ad' ad.id %}">Edit</a>
      {% endif %}
      </p>
    {% endfor %} 
  {% else %}
    <p>No bands seeking musicians at the moment.</p>
  {% endif %}
{% endblock content %}