{% extends "base.html" %}
{% block title %}Ads List{% endblock %}
{% block content %}
  <h1>Musicians seeking bands</h1>
  {% if seeking_bands %}
    {% for ad in seeking_bands %}
      <p>
        {{ ad.date|default:"N/A" }} &mdash; 
        {{ ad.musician.first_name|default:"Unknown" }} 
        {{ ad.musician.last_name|default:"" }}: 
        {{ ad.content|default:"" }}
      </p>
    {% endfor %}
  {% else %}
    <p>No musicians seeking bands at the moment.</p>
  {% endif %}
{% endblock content %}